@import "tailwindcss";
/* Zoom-Fix für iOS/Safari */
@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}

/* Scroll-Fix für die Maus */
html, body {
  overflow-y: auto !important;
  height: 100%;
  touch-action: manipulation;
}
/* Verhindert Verrutschen und ungewolltes Handyscrollen bei Bildern, SVGs, PDFs und Canvas */
img, svg, canvas, iframe, embed {
  touch-action: none;
  max-width: 100%;
}